<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性：设置为接口的全类名-->
<mapper namespace="com.atguigu.springboot.mapper.SysMenuMapper">
    <resultMap id="app" type="com.atguigu.springboot.model.system.SysMenu" autoMapping="true"/>
    <!--     List<SysMenu> getUserMenuListById(Long id);-->
    <select id="getUserMenuListById" resultMap="app">
        SELECT DISTINCT sm.*
        FROM sys_user u
                 INNER JOIN sys_user_role sur
                            ON u.id = sur.`user_id`
                 INNER JOIN sys_role sr
                            ON sur.`role_id` = sr.`id`
                 INNER JOIN sys_role_menu srm
                            ON sr.`id` = srm.`role_id`
                 INNER JOIN sys_menu sm
                            ON srm.`menu_id` = sm.`id`
        WHERE u.`is_deleted` = 0
          AND sur.`is_deleted` = 0
          AND sr.`is_deleted` = 0
          AND srm.`is_deleted` = 0
          AND sm.`is_deleted` = 0
          AND sm.`status` = 1
          AND u.`id` = #{id}
    </select>

</mapper>